<head>
  <title>Show All Listings</title>
</head>
<body>
  <% layout("/layouts/boilerplate.ejs") %>
  <h3>All Listings</h3>
  <form action="/listings/new" method="get">
    <button>add new listing</button>
  </form>
  <ul>
    <% for(listing of allListing) { %>
    <li>
      <a href="http://localhost:8080/listing/<%=listing._id %>"
        ><%=listing.title%></a
      >
    </li>
    <% } %>
  </ul>
</body>
