<head>
  <title>New Listing - Wanderlust</title>
</head>
<body>
  <% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <div class="col-8 offset-2">
      <form action="/listing/new" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            placeholder="Enter Title"
            required
          />
          <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            class="form-control"
            name="listing[description]"
            cols="50"
            rows="4"
            placeholder="Enter Description"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image link</label>
          <input
            class="form-control"
            type="text"
            name="listing[image]"
            placeholder="Enter Image link"
            required
          />
          <div class="invalid-feedback">Image link should be valid</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              type="number"
              name="listing[price]"
              placeholder="Price $xxx"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              type="text"
              name="listing[country]"
              placeholder="Enter Country "
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            placeholder="Enter Location"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <center>
          <button class="btn btn-dark">Submit</button>
        </center>
      </form>
    </div>
  </div>
</body>
